:root{
  --
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: radial-gradient(#353b48,#282C34);
  font-family: "bahnschrift", "Verdana";
}

div.flex{
  display: flex;
}

span{
  /* font-family: "bahnschrift", "Verdana"; */
}






#form{
  position: relative;
  /* width: 30vw;
  height: 60vh; */
  flex-direction: column;
  box-sizing: border-box;
  background-color: #F2F2F2;
  padding: 1.5em;
  /* border: 2px solid white; */
  border-radius: 10px;
}
#form::before{
  content: '';
  position: absolute;
  display: flex;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  background-image: linear-gradient(#FF00FF, #00ffff);
  background-size: 200% 200%;
  /* background-position-y: 50%; */
  animation: colorSlide 2s infinite;
  z-index: -1;
  border-radius: 12px;
  box-shadow: 0 0 4px white;
}

@keyframes colorSlide {
  0%{
    background-position-y: 0%;
  }
  100%{
    background-position-y: -200%;
  }
}


#form div{
  margin: 1.5em 0;
  position: relative;
}
#form div:first-child{
  margin-top: 0;
}
#form div:last-child{
  margin-bottom: 0;
}

#form div.title{
  justify-content: center;
  margin-bottom: 1.5em;
  /* font-weight: bold; */

  user-select: none;
}
#form div.title span{
  background-image: linear-gradient(#FF00FF, #00ffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0px 1px rgba(0,0,0,0.5);
}


#form div.textField{
  margin: 0.25em 0;
  font-size: 13px;
  flex-direction: column-reverse;
  /* mask-clip: text; */
}

#form div.textField input{
  position: relative;
  background-color: transparent;
  outline: none;
  font-family: unset;
  border-image: linear-gradient(#FF00FF, #00ffff) 1;
  filter: grayscale(1);
  transition: filter 400ms;
}
#form div.textField input:focus{
  filter: grayscale(0);
}

#form div.textField input::before{
  content: '';
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: gray;
}


#form div.textField span{
  width: fit-content;
  color: darkgray;
  transform: translate(6px,128%);
  transition: transform 200ms;

  user-select: none;
  pointer-events: none;
}
#form div.textField input:focus + span, #form div.textField input:not([value=""]) + span{
  transform: translate(0,0);
  background-image: linear-gradient(#FF00FF, #00ffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  /* outline: 2px solid transparent; */
}


#form div.button{
  justify-content: center;
}
#form div.button button{
  display: flex;
  justify-content: center;
  align-items: center;
  /* unset to default to global font */
  font-family: unset;
  font-size: 14px;
  padding: 0.5em 0.75em;
  border-image: linear-gradient(#FF00FF, #00ffff) 1;
  filter: grayscale(1);
  background-color: transparent;
  overflow: hidden;
  user-select: none;
  transition: 400ms;
}
#form div.button button:hover, #form div.button button:focus-visible  {
  /* animation: colorSlide 2s infinite; */
  filter: grayscale(0);
  background-image: linear-gradient(#FF00FF, #00ffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#form div.button button:focus{
  outline: none;
}
#form div.button button::after{
  content: '';
  position: absolute;
  display: flex;
  height: 0%;
  width: auto;
  aspect-ratio: 1/1;
  z-index: 1;
  background-color: gray;
  border-radius: 50%;
  opacity: 0;
  transition: 100ms ease-in;
}
#form div.button button:active::after{
  animation: buttonTouch 200ms forwards;
}

@keyframes buttonTouch {
  from{
    height: 100%;
    opacity: 0.5;
  }
  to{
    height: 250%;
    opacity: 0;
  }
}
